@use 'src/styles' as c;
nav{
	position: fixed;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 0px 5%;
	transition: 300ms ease;

	.logo{
		width: 150px;
		height: 50px;
		
		img{
			height: 100%;
			object-fit: fill;
		}
	}

	ul{
		display: flex;
		justify-content: space-between;
		gap: 40px;
		
		
		.logout{
			button{
				background: c.$red;
			}
		}
		li{

			a{
				cursor: c.$cursor;
				font-size: 18px;
				font-weight: bold;
				color: rgb(255,255,255);
				transition: 300ms ease;
			}
		}
	}
}
.tolls-nav{
	position: relative;
	background-color: c.$base-color;
	box-shadow: c.$box-color 0px 0px 0px 2px, 
							c.$box-color 0px 4px 6px -1px, 
							rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
