nav{
	position: fixed;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	padding: 0px 5%;
	transition: 300ms ease;

	.logo{
		width: 150px;
		height: 50px;
	}

	ul{
		display: flex;
		justify-content: space-between;
		gap: 40px;
		
		
		.logout{
			button{
				background: rgb(235, 106, 77);
			}
		}
		li{

			a{
				font-size: 18px;
				font-weight: bold;
				color: rgb(255,255,255);
				transition: 300ms ease;
			}
		}
	}
}
.tolls-nav{
	position: relative;
	background-color: rgba(22, 24, 45, 1);
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
							rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
							rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
