.paint{
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: rgb(99, 110, 128);
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, 
							rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
							rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	
	.paint-tolls{
		display: flex;
		justify-content: space-around;
		align-items: center;
		
		[type=color]{
			width: 40px;
			height: 40px;
			border: 2px solid rgba(22, 24, 45, 1);
		}

		[type=radio] { 
		  position: absolute;
		  opacity: 0;
		}
		[type=radio] + i {
		  cursor: pointer;
			font-size: 18px;
			padding: 12px;
			background-color: rgba(22, 24, 45, 0.5);
			border-radius: 50%;
			box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
									rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
		}
		[type=radio]:checked + i{
			background-color: rgba(22, 24, 45, 1);
			color: rgb(255, 255, 255);
			box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, 
									rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
		}
		button{
			height: 50px;
			width: 50px;
		}
	}
}

