<div class='forms'>
	<div class="danger" *ngIf="error">
    <p>{{error}}</p>
  </div>
  <div class="success" *ngIf="success">
		<p>{{success}}</p>
  </div>
	<form [formGroup]='signupForm' (ngSubmit)='onSignup()' *ngIf='!isLoginMode'>
		<div class='form'>
			<label for='username'>User Name</label>
			<input 
				type='text' 
				id='username' 
				name='username' 
				class='form-input' 
				formControlName="username">
			<span *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched">
				Field Required!
			</span>
		</div>
		<div class='form'>
			<label for='email'>Email</label>
			<input 
				type='text' 
				id='email' 
				name='email' 
				class='form-input' 
				formControlName="email" >
			<span *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
				Please Enter a valid email!
			</span>
		</div>
		<div class='passwords' formGroupName="passwords"> 
			<div class='form'>
				<label for='password'>Password</label>
				<input 
					type='password' 
					id='password'
					name='password'
					class='form-input'
					formControlName="password" >
		<div *ngIf="signupForm.get('passwords.password').touched && signupForm.get('passwords.password').invalid">
			<span *ngIf="signupForm.get('passwords.password').errors.required">Enter Password</span>
			<span *ngIf="signupForm.get('passwords.password').errors.minlength">
				Password must be at least {{signupForm.get('passwords.password').errors.minlength.requiredLength}}
				characters. Now he {{signupForm.get('passwords.password').errors.minlength.actualLength}}
			</span>
		</div>
			</div>
			<div class='form'>
				<label for='confirmpassword'>Confirm Password</label>
				<input 
					type='password'
					id='confirmpassword'
					name='confirmpassword'
					class='form-input' 
					formControlName="confirmpassword">
			<span *ngIf="signupForm.get('passwords').errors?.notsame && signupForm.get('passwords.confirmpassword').touched">
				Passwords must be same!
			</span>
			</div>
		</div>
		<div class='buttons'>
			<button type='submit' [disabled]='!signupForm.valid'>Sign Up</button>
			<button type='button' (click)="onSwitch()">Switch to Login</button>
		</div>
	</form>
	<form [formGroup]='loginForm' (ngSubmit)='onLogin()' *ngIf='isLoginMode'>
		<div class='form'>
			<label for='email'>Email</label>
			<input 
				type='text' 
				id='email' 
				name='email' 
				class='form-input' 
				formControlName="email" >
			<span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">
				Field Required!
			</span>
		</div>
		<div class='form'>
			<label for='password'>Password</label>
			<input 
				type='password' 
				id='password'
				name='password'
				class='form-input' 
				formControlName="password" >
			<span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
				Field Required!
			</span>
		</div>
    <div class='buttons'>
      <button type="submit" [disabled]='!loginForm.valid'>Login</button>
      <button type="button" (click)="onSwitch()">Switch to Sign Up</button>
    </div>
	</form>
</div>
